<%= render "redirect_on_disclaimer" %>
<%= render "first_wallet" %>

<center>
  <div class="panel">
    <div class="clearfix">
      <div class="pull-left">
        <div class="dropdown">
          <button class="inbox-nav-item btn action-btn dropdown-toggle" type="button" id="mailSelectionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            None
          </button>
          <ul class="dropdown-menu light" aria-labelledby="mailSelectionDropdown">
            <a class="dropdown-item" href="#">All</a>
            <a class="dropdown-item" href="#">None</a>
            <a class="dropdown-item" href="#">Read</a>
            <a class="dropdown-item" href="#">Unread</a>
          </ul>
        </div>

        <div class="dropdown">
          <button class="inbox-nav-item btn action-btn dropdown-toggle" type="button" id="mailPaneDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Received
          </button>
          <ul class="dropdown-menu light" aria-labelledby="mailPaneDropdown">
            <a class="dropdown-item" href="#">Received</a>
            <a class="dropdown-item" href="#">Sent</a>
            <a class="dropdown-item" href="#">Drafts</a>
          </ul>
        </div>

        <a href="#" class="inbox-nav-item" id="refreshMailbox"><i class="fa fa-refresh"></i></a>
      </div>

      <div class="pull-right text-muted" id="paneNavigation">
        <a id="pageNavBack" href="#"><<</a>
        <b><span id="pageItemsStart"></span> </b>&ndash;<b> <span id="pageItemsEnd"></span></b>
        <a id="pageNavForward" href="#">>></a>
      </div>
    </div>

    <div id="emailsList">

    </div>

    <div class="tab-content"><div class="tab-pane fade in active" id="home"><div class="list-group">   <a href="#" class="list-group-item"><div class="checkbox"><label><input type="checkbox"></label></div><span class="name" style="min-width: 120px; display: inline-block;">bambi</span><span class="">GAS test</span><span class="text-muted" style="font-size: 11px;">- Testing some GAS...</span><span class="badge">12:10 AM</span><span class="pull-right"></span></a>   </div></div><div class="tab-pane fade in" id="profile"><div class="list-group"><div class="list-group-item"><span class="text-center">Nothing here.</span></div></div></div><div class="tab-pane fade in" id="messages"><div class="list-group"><div class="list-group-item"><span class="text-center">Nothing here.</span></div></div></div><div class="tab-pane fade in" id="settings"> This tab is empty.</div></div>

  </div>
</center>

<script>
  var elem = document.getElementById('refreshMailbox');
  elem.addEventListener('click', function(event) {
    event.preventDefault();

    PH.fetchInbox(function() {
      PH.inboxPane.page = 0;

      inboxPaneUpdate();
    });
  });

  elem = document.getElementById('pageNavBack');
  elem.addEventListener('click', function(event) {
    event.preventDefault();

    PH.inboxPane.page -= 1;

    inboxPaneUpdate();
  });

  elem = document.getElementById('pageNavForward');
  elem.addEventListener('click', function(event) {
    event.preventDefault();

    PH.inboxPane.page += 1;

    inboxPaneUpdate();
  });

  window.inboxPaneUpdate = function() {
    var elem = document.getElementById('paneNavigation');
    if (PH.inboxPane.items.length > 0) {
      elem.style.display = 'initial';

      elem = document.getElementById('pageNavBack');
      if (PH.inboxPane.page > 0) {
        elem.style.display = 'initial';
      } else {
        elem.style.display = 'none';
      }

      elem = document.getElementById('pageNavForward');
      if ((PH.inboxPane.page + 1) * PH_ITEMS_PER_PAGE < PH.inboxPane.items.length) {
        elem.style.display = 'initial';
      } else {
        elem.style.display = 'none';
      }

      elem = document.getElementById('pageItemsStart');
      elem.innerHTML = '' + (PH.inboxPane.page * PH_ITEMS_PER_PAGE + 1);

      elem = document.getElementById('pageItemsEnd');
      elem.innerHTML = '' + Math.min((PH.inboxPane.page + 1) * PH_ITEMS_PER_PAGE, PH.inboxPane.items.length);

      elem = document.getElementById('emailsList');
      var items = PH.inboxPane.items.slice(PH.inboxPane.page * PH_ITEMS_PER_PAGE, (PH.inboxPane.page + 1) * PH_ITEMS_PER_PAGE - 1);

      elem.innerHTML = '<div class="pane">' + items.map(function(email) {
        return '<div class="row pane-item"><div class="col-md-3 sender-and-date">' + email.sender + '<br/>' + timestampToDateString(email.date) + '</div><div class="col-md-9 body">' + email.message + '</div></div>';
      }).join('') + '</div>';
    } else {
      elem.style.display = 'none';
    }
  };

  inboxPaneUpdate();
</script>
