/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';
@import 'font-awesome';

html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: '-apple-system', 'system-ui', 'Open Sans', sans-serif;
}

html {
}

h1, h2, h3, h4 {
  font-family: '-apple-system', 'system-ui', 'Open Sans', 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #A1C9D5, #FEEABE);
}


body {
  color: #fff;
  margin: 0;
  background-color: transparent;
}

.header {
  width: 100%;
  color: #EEE;
  background-color: #1B566A;
  padding: 16px 64px;
  box-shadow: 0 1px 1px #FEDE97;

  a {
    color: #EEE;
  }

  .text-muted {
    color: #CCC !important;
  }
}

.no-overflow {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.pretty-btn {
  font-family: brown,-apple-system,BlinkMacSystemFont,avenir,lucida grande,gill sans,helvetica neue,helvetica,sans-serif;
  margin: 20px;
  padding: 12px 28px;
  border-radius: 5px;
  border: 1px solid #FEDE97;
  color: white;
  background: #2E6C80;
  display: inline-block;
  margin-bottom: 0;
  font-family: "Open Sans","Trebuchet MS",sans-serif;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .025em;
  word-spacing: .05em;
  vertical-align: middle;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

  &:hover {
    border: 1px solid #FEDE97;
    background: #6CA1B2;
    transition: background 0.1s;
    color: white;
    text-decoration: none;
    -ms-transform: translate(1px, -2px); /* IE 9 */
    -webkit-transform: translate(1px, -2px); /* Safari */
    transform: translate(1px, -2px);
  }

  &.secondary {
    color: #111;
    background: white;
    border: 1px solid #1B566A;

    &:hover {
      border: 1px dotted #1B566A;
      color: #222;
      background: white;
    }
  }
}

.nav-btn {
  font-family: brown,-apple-system,BlinkMacSystemFont,avenir,lucida grande,gill sans,helvetica neue,helvetica,sans-serif;
  border-radius: 5px;
  border: 1px solid #FEDE97;
  color: #2E6C80;
  background: #FEDE97;
  display: inline-block;
  font-family: "Open Sans","Trebuchet MS",sans-serif;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .025em;
  word-spacing: .05em;
  vertical-align: middle;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-size: small;
  padding: 4px 16px 4px 16px;

  &:hover {
    color: #6CA1B2;
  }
}

.pane {
  margin-top: 1rem;

  .pane-item {
    border-bottom: 2px solid #ddd;
    padding: 0.5rem;

    a {
      color: #2E6C80;
      position: absolute;
      right: 10px;
      top: 3px;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }

    .sender-and-date {
      font-size: smaller;
    }
  }
}

.dropdown {
  display: inline-block;
}

.dropdown-menu {
  background-color: #42424D;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  .dropdown-item {
    &:active, &:hover {
      color: #20212D;
      background-color: white;
      border-top: 1px solid #FEC16B;
      border-bottom: 1px solid #FEC16B;
    }
  }

  &.light {
    background-color: white;
    color: #20212D;
    border: 1px solid #1F5669;
    border-radius: 3px;

    .dropdown-item {
      border: 0 !important;
      border-left: 2px solid white !important;

      &:active, &:hover {
        border-left: 2px solid #ABCDD3 !important;
        color: #1F5669 !important;
      }
    }
  }
}

.action-btn {
  font-family: brown,-apple-system,BlinkMacSystemFont,avenir,lucida grande,gill sans,helvetica neue,helvetica,sans-serif;
  border-radius: 5px;
  border: 1px solid #2E6C80;
  color: #2E6C80;
  background: transparent;
  display: inline-block;
  font-family: "Open Sans","Trebuchet MS",sans-serif;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  letter-spacing: .025em;
  word-spacing: .05em;
  vertical-align: middle;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-size: small;
  padding: 4px 16px 4px 16px;

  &:hover {
    color: #6CA1B2;
  }
}

.dropdown-menu {
  background-color: #42424D;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  .dropdown-item {
    &:active, &:hover {
      color: #20212D;
      background-color: white;
      border-top: 1px solid #FEC16B;
      border-bottom: 1px solid #FEC16B;
    }
  }
}

.dropdown-divider {
  border-top: 2px dotted #FD6663;
}

.pretty-link {
  color: #628be4;
  letter-spacing: -.02rem;
  font-weight: 600;
  text-transform: none;
}

.main {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: large;

  .container {
    padding: 8px 0;

    &.devise {
      margin: 64px auto;
      max-width: 400px;
    }
  }
}

.ph-address {
  font-size: smaller;
}

.panel {
  text-align: left;
  padding: 2rem;
  margin: 2rem;
  width: 80%;
  background: #fff;
  border-radius: 4px;
  color: #585858;
  display: block;
  background: #fff;
  border-radius: 4px;
  color: #585858;
  -webkit-box-shadow: 0 7px 15px rgba(40,40,40,.2);
  box-shadow: 0 7px 15px rgba(40,40,40,.2);
}

.blank {
  display: block;
  text-align: center;
  margin: 20px;
  color: gray;
}

input {
  padding: 3px 8px;
  border: 1px solid gray;
  border-radius: 2px;
}

.btn-primary {
  background-color: #DEF1E5;
  border-color: #DEF1E5;
}

.modal-header {
  color: #111;
}

.modal-body {
  color: #111;
}

.inbox-nav-item {
  color: #2E6C80;
  margin-right: 0.2rem;

  &a {
    margin-top: 12px;
  }
}

body.main2 {
  color: #C2C9CD;
  background-color: #F7FAF9;

  a {
    color: #2B5668;
  }

  span.current_identity {
    padding-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  div.sidebar-item {
    height: 4rem;
    padding: 1rem 0;
    display: block;
    margin-left: 1px;
    padding-left: 2.5rem;
    border-left: 3px solid white;


    &.selectable {
      &.selected {
        color: #2B5668;
        border-left: 3px solid #2B5668;

        a {
          color: #2B5668;
        }
      }
    }

    .selected {
      color: #2B5668;
    }

    a {
      i.fa {
        min-width: 20%;
      }

      font-size: larger;
      color: #C2C9CD;
    }
  }

  div.sidebar-divider {
    margin-left: 1.5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #ddd;
  }

  .mail-left {
    background-color: white;
    box-shadow: 4px 0px 10px #EBEFF0;
  }

  .mail-center {
    padding: 1.5rem;

    .search {
      border-bottom: 3px solid #eee;
      padding-bottom: 5px;
      margin-bottom: 1rem;

      #mail-search-submit {
        border: 0;
        background-color: transparent;
        color: lightgray;
        cursor: pointer;
      }

      #mail-search {
        border: 0;
        background-color: transparent;
        color: #aaa;

        &::placeholder {
          color: #ddd;
        }

        &:focus {
          border-color: inherit;
          -webkit-box-shadow: none;
          box-shadow: none;
          outline: none;
        }
      }
    }

    .sort {
      cursor: pointer;
      margin-bottom: 2rem;

      .control {
        margin-left: 0.5rem;
      }
    }

    .message-list {
      .message {
        background-color: white;
        margin: 1.5rem 0;
        padding: 1rem;
        box-shadow: 0px 3px 13px #ddd;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }

        .title {
          .mail-title {
            font-size: large;
            color: #2D5667;
          }

          .mail-date {
            font-size: smaller;
          }
        }

        .body {
          text-align: justify;
          text-justify: inter-word;
          margin-top: 0.5rem;
          margin-bottom: 1rem;
        }

        .footer {
          border-top: 2px solid #f3f3f3;
          padding-top: 10px;
          font-size: smaller;

          .name {
            color: #2D5667;
          }

          .address {
            opacity: 0.6;
          }
        }
      }
    }
  }

  .mail-right {
    background-color: white;
    box-shadow: 0px -10px 10px 5px #f3f3f3;
  }

  a {
    text-decoration: none;

    &:hover, &:focus, &:active {
      opacity: 0.8;
    }
  }

  .btn:not(x):not(x):not(x):not(x) {
    font-size: smaller;
    padding: 0.7rem 1.7rem;
    border-radius: 6px;

    i.fa {
      font-size: large;
    }

    &.btn-primary {
      color: #F7FAF9;
      background-color: #2B5668;
    }
  }
}
