<body class="main2">
  <div class="row">
    <div class="col-lg left-and-center-nav">
      <div class="row">
        <div class="col-md-4 mail-left">
          <div class="sidebar-item" style="display: flex">
            <img src="https://phantasma.io/img/phantasma_logo.svg" width="32" style="margin-right: 10px" /> <span class="current_identity"></span>
          </div>

          <div class="sidebar-item">
            <a id="composeBtn" class="btn btn-primary"><i class="fa fa-edit"></i> New message</a>
          </div>
          <br/>

          <div id="inboxSection" class="sidebar-item selectable">
            <i class="fa fa-inbox"></i>Inbox
          </div>

          <div id="outboxSection" class="sidebar-item selectable">
            <i class="fa fa-location-arrow"></i>Sent
          </div>

          <div id="draftSection" class="sidebar-item selectable">
            <i class="fa fa-file"></i>Draft
          </div>

          <div id="importantSection" class="sidebar-item selectable">
            <i class="fa fa-star"></i>Important
          </div>

          <div id="trashSection" class="sidebar-item selectable">
            <i class="fa fa-trash"></i>Trash
          </div>

          <div class="sidebar-divider"></div>

          <div id="mailSection"  class="sidebar-item selectable">
            <i class="fa fa-envelope"></i>Mail
          </div>

          <div id="walletSection"  class="sidebar-item selectable">
            <i class="fa fa-connectdevelop"></i>Wallet
          </div>
<!--
          <div class="sidebar-item ">
            SETTINGS
          </div>
-->
          <div class="sidebar-divider"></div>

          <div class="sidebar-item">
            <a id="forgetMeBtn" href="#"><i class="fa fa-sign-out"></i>Forget me</a>
          </div>

          <div id="version-text"></div>
        </div>

        <div class="col-md mail-center">
          <div class="search">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="mail-search-submit" class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control" id="mail-search" placeholder="Search Mail" required="true" autocomplete="off">
            </div>
          </div>

          <div class="clearfix sort">
            <div class="pull-right">
              <a class="refresh-inbox" href="#"><i class="fa fa-refresh"></i></a>

              <span onclick="alert('TODO')" class="sel">Sort: Newest First</span><span onclick="alert('TODO')" class="control"><i class="fa fa-chevron-down"></i></span>
            </div>
          </div>

          <div class="message-list"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-5 mail-right" style="display: none">
      <!--
      <div class="pane more">
        <div class="relative-date">
          <%= time_ago_in_words(Time.now - 21.hours).capitalize %> ago
        </div>

        <div class="body">
          The network itself requires minimal structure. Messages are broadcast on a best effort
basis, and nodes can leave and rejoin the network at will, accepting the longest
proof-of-work chain as proof of what happened while they were gone.
        </div>

        <div class="accent"></div>
      </div>
    -->
    </div>
  </div>
</body>

<%= render "compose" %>
<%= render "first_wallet" %>

<script>
var setWindowSize = function() {
  document.getElementsByClassName('mail-left')[0].style.height = window.innerHeight + 'px';
  document.getElementsByClassName('mail-center')[0].style.height = window.innerHeight + 'px';
  document.getElementsByClassName('mail-right')[0].style.height = window.innerHeight + 'px';
};

setWindowSize();

window.addEventListener('resize', setWindowSize);

window.render = function() {
  console.log('Rendering ' + PH.state.section);

  PH.saveData();

  // Nav tab identity
  if (PH.state.mainWallet !== -1) {
    document.getElementsByClassName('current_identity')[0].innerHTML = PH.state.wallets[PH.state.mainWallet].name;
  }

  // Section tab links
  var elems = document.getElementsByClassName('selectable');
  for (var i = 0; i < elems.length; ++i) {
    if (i < 2) {
      elems[i].onclick = function(event) {
        event.preventDefault();

        var section = event.target.id.replace('Section', '');
        PH.state.section = section;
        render();

        autoFetchItems();
      };
    } else {
      elems[i].onclick = function(event) {
        event.preventDefault();

        alert('TODO');
      };
    }

    elems[i].className = elems[i].className.replace(' selected', '');
  }

  // Section tab selected
  document.getElementById(PH.state.section + 'Section').className += ' selected';

  document.getElementById(PH.state.topSection + 'Section').className += ' selected';

  // Left pane - forget me button
  document.getElementById('forgetMeBtn').onclick = function(event) {
    event.preventDefault();

    localStorage.clear();
    window.location.href = '/';
  }

  // Center pane content
  var content = "";
  var itemsFiltered = PH.itemsFiltered();
  for (var i = 0; i < itemsFiltered.length; ++i) {
    var elem = itemsFiltered[i];
    var timeStr = new Date(elem.date).toLocaleDateString();
    content += '<div class="message"><div class="clearfix title"><span class="pull-left mail-title">' + PH.trunc(elem.subject) + '</span><span class="pull-right mail-date">' + timeStr + '</span></div><div class="body">' + PH.trunc(elem.content, 160) + '</div><div class="clearfix footer"><span class="pull-left name"><b>' + PH.trunc(elem.fromInbox) + '</b></span><span class="address"></span></span><span class="pull-right address">' + PH.trunc(elem.toInbox) + '</span></div></div>';
  }
  var container = document.getElementsByClassName('message-list')[0];
  container.innerHTML = content;

  // Center pane content message selection
  for (var i = 0; i < container.children.length; ++i) {
    container.children[i].onclick = function(event) {
      event.preventDefault();

      if (PH.state[PH.state.section].selected === this + 0) {
        PH.state[PH.state.section].selected = -1;
      } else {
        PH.state[PH.state.section].selected = this + 0;
      }
      render();
    }.bind(i);
  }

  document.getElementById('version-text').innerHTML = 'v.' + PH.version;

  // Center pane - mail search
  document.getElementById('mail-search').value = PH.state[PH.state.section].filter;
  var searchFilterStart = function() {
    var filterValue = document.getElementById('mail-search').value;
    if (filterValue.toLowerCase() === PH.state[PH.state.section].filter.toLowerCase()) { return; }

    PH.state[PH.state.section].filter = filterValue;
    render();

    var icon = document.querySelector('.refresh-inbox i.fa');
    if (icon.className.indexOf('fa-spin') === -1) {
      // Inactive; activate and fetch inbox
      setTimeout(function() {
        var icon = document.querySelector('.refresh-inbox i.fa');
        icon.className = icon.className.replace(' fa-spin', '');
      }, 300);
      icon.className += ' fa-spin';
    }
  };
  document.getElementById('mail-search').addEventListener('keypress', function(event) {
    if (event.keyCode === 13) {
        searchFilterStart();
    }
  });
  document.getElementById('mail-search-submit').addEventListener('click', searchFilterStart);

  window.autoFetchItems = function() {
    var icon = document.querySelector('.refresh-inbox i.fa');
    if (icon.className.indexOf('fa-spin') === -1) {
      // Inactive; activate and fetch inbox
      var refreshFunc = PH.state.section === 'inbox' ? PH.contract.fetchInbox : PH.contract.fetchOutbox;
      refreshFunc(function() {
        render(); // rerender what is needed
        var icon = document.querySelector('.refresh-inbox i.fa');
        icon.className = icon.className.replace(' fa-spin', '');
      });
      icon.className += ' fa-spin';
    }
  }

  // Center pane - refresh inbox button
  document.getElementsByClassName('refresh-inbox')[0].onclick = function(event) {
    event.preventDefault();

    autoFetchItems();
  };

  // Right pane
  if (PH.state[PH.state.section].selected === -1) {
    var leftPane = document.getElementsByClassName('mail-left')[0];
    leftPane.className = leftPane.className.replace('col-md-4', 'col-md-3');
    var centerPane = document.getElementsByClassName('mail-center')[0];
    centerPane.style.paddingRight = '2rem';
    var rightPane = document.getElementsByClassName('mail-right')[0];
    rightPane.style.display = 'none';
  } else {
    var leftPane = document.getElementsByClassName('mail-left')[0];
    leftPane.className = leftPane.className.replace('col-md-3', 'col-md-4');
    var centerPane = document.getElementsByClassName('mail-center')[0];
    centerPane.style.paddingRight = null;
    var rightPane = document.getElementsByClassName('mail-right')[0];
    rightPane.style.display = null;
    var content = "";
    var item = itemsFiltered[PH.state[PH.state.section].selected];

    var content = '<div class="pane"><div class="clearfix controls"><div class="pull-left mail-nav"><i class="fa fa-arrow-left msgNav" id="prevMsg"></i><i class="fa fa-arrow-right msgNav" id="nextMsg" style="margin-left: 1rem;"></i></div><a href="#" onclick="event.preventDefault();PH.contract.deleteMessage(' + item.idx + ', autoFetchItems)" class="pull-right"><i class="fa fa-trash"></i></a></div><div class="relative-date">' + item.date + '</div><div class="people">' + item.fromInbox + ' <span class="ligature">to</span> ' + item.toInbox + '</div><div class="title">' + item.subject + '</div><div class="body">' + item.content + '</div></div>';
    rightPane.innerHTML = content;

    // Right pane - top nav arrows
    if (PH.state[PH.state.section].selected === 0) {
      document.getElementById('prevMsg').className += " disabled";
    } else {
      document.getElementById('prevMsg').onclick = function(event) {
        event.preventDefault();

        PH.state[PH.state.section].selected -= 1;
        render();
      };
    }
    if (PH.state[PH.state.section].selected === itemsFiltered.length - 1) {
      document.getElementById('nextMsg').className += " disabled";
    } else {
      document.getElementById('nextMsg').onclick = function(event) {
        event.preventDefault();

        PH.state[PH.state.section].selected += 1;
        render();
      };
    }
  }
};

PH.afterLoad(render);
</script>
