<body>
  <div class="row" style="margin-top: 20px; margin-bottom: 40px">
    <div class="col-lg-7" style="margin-top: 60px; padding: 3rem; text-align: center">
      <h1>Join the Revolution</h1>
      <p>Take the reins of your personal data</p>
      <p>Email and transfer files on the blockchain</p>

      <a href="<%= app_url %>" class="btn pretty-btn">Get Started</a>
    </div>

    <div class="col-lg-5">
      <div class="panel">
        In development since early 2017
      </div>

      <div class="panel">
        City of Zion dApps winner late 2017
      </div>

      <div class="panel">
        Live <span style="text-decoration: line-through">early 2018</span> <b>NOW</b>
        <br />
        <a href="<%= app_url %>" class="btn btn-text pretty-link">Try it out on the NEO blockchain <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div style="border: 4px dotted #AA812B; margin: 2rem; padding: 2rem">
    <h2 style="font-family: monospace">/* Meet the dev team */</h2>
    <div class="row">
      <div class="col-md-3"><a href="https://twitter.com/phantasma_io" class="btn pretty-btn secondary" target="_blank" style="min-width: 80%">Twitter</a></div>
      <div class="col-md-3"><a href="https://t.me/phantasma_io" class="btn pretty-btn secondary" target="_blank" style="min-width: 80%">Telegram</a></div>
      <div class="col-md-3"><a href="https://discord.gg/fkNhmmk" class="btn pretty-btn secondary" target="_blank" style="min-width: 80%">Discord</a></div>
      <div class="col-md-3"><a href="https://github.com/PhantasmaProtocol" class="btn pretty-btn secondary" target="_blank" style="min-width: 80%">GitHub</a></div>
    </div>
  </div>
</body>
