<center>
  <div class="panel">
    <p>This website requires a web browser with support for HTML5 local storage. <a href="https://caniuse.com/#feat=namevalue-storage">See what browsers support this feature.</a></p>

    <p>Alternatively you may be using a web browser extension, plugin or addon that blocks local storage.</p>
  </div>
</center>